# Project files
.idea
.venv
__pycache__
/.env

# Dataset
SoD-*
/data/clean_data.csv

# Helper scripts
/utils/test.py
/update_script.ipynb

# Computed/Generated data
results
graphs
tmp

# Coding agent files
.claude
/CLAUDE.md
/AGENTS.md
